# IS424: Data Mining & Biz Analytics
## Team: G3T3
### Project: Predicting Loan Default based on Customer Profile
### Data Preprocessing
---

# 1. Setting up the notebook
---

### Import libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder
from category_encoders import TargetEncoder
from sklearn.preprocessing import MinMaxScaler

from sklearn.feature_selection import chi2, SelectKBest
from sklearn.model_selection import train_test_split

from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import Lasso
from xgboost import XGBClassifier

from sklearn.metrics import confusion_matrix, precision_score, recall_score, f1_score, fbeta_score, accuracy_score, roc_auc_score

### Import dataset and tidy columns

In [2]:
df = pd.read_csv("./dataset/loanprediction.csv")
df.drop("Id", axis=1, inplace=True)

In [3]:
# standardise column naming
df.columns = ["income", "age", "experience", "marital_status", "house_ownership", "car_ownership", "profession", "city", "state", "current_job_years", "current_house_years", "risk_flag"]

In [4]:
# retrieve numerical and categorical columns
numerical = list(df.describe().columns)[:-1]
categorical = [i for i in df.columns if i not in numerical and i != "risk_flag"]

### Splitting the data into train and test splits

In [5]:
y = df["risk_flag"]
x = df.drop("risk_flag", axis=1)

In [6]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, stratify = y, random_state = 2021)

# 2. Feature Engineering
---

## 2.1 Label and One Hot Encoding

In [7]:
def feature_engineering(df_x):
    """
        Encoding categorical columns
    """
    x = df_x.copy()
    
    # Label/Binary Encoding — categorical columns with binary categories
    label_enc = LabelEncoder()
    x["marital_status"] = label_enc.fit_transform(x["marital_status"])
    x["car_ownership"] = label_enc.fit_transform(x["car_ownership"])
    
    # One Hot Encoding — house_ownership column
    onehot_encoder = OneHotEncoder(handle_unknown='ignore', sparse=False)
    
    house_ownership_values = onehot_encoder.fit_transform( x[['house_ownership']] )
    house_ownership_labels = np.array(["norent_noown", "owned", "rented"]).ravel()
    house_ownership_df = pd.DataFrame(house_ownership_values, columns=house_ownership_labels)

    x.reset_index(drop=True, inplace=True)
    house_ownership_df.reset_index(drop=True, inplace=True)
    x = pd.concat([x, house_ownership_df], axis=1)
    
    x.drop("house_ownership", axis=1, inplace=True)

    return x

In [8]:
x_train = feature_engineering(x_train)
x_test = feature_engineering(x_test)

## 2.2 Target Encoding
Target Encoding is carried on categorical columns with high cardinality: `profession`, `city`, `state` to prevent a blow up in dimensionality due to encoding techniques like One Hot Encoding.


Note: Feature engineering using Target Encoding will be carried out at the Grid Search Cross-Validation step to prevent data leakage. This function will be imported into the respective notebooks.

In [9]:
def target_encoding(df_x, df_y):
    x = df_x.copy()
    
    # Target Encoding — categorical columns with high cardinality: profession, city, state
    profession_target_enc = TargetEncoder()
    x["profession_encoded"] = profession_target_enc.fit_transform(x["profession"], df_y)
    
    city_target_enc = TargetEncoder()
    x["city_encoded"] = city_target_enc.fit_transform(x["city"], df_y)
    
    state_target_enc = TargetEncoder()
    x["state_encoded"] = state_target_enc.fit_transform(x["state"], df_y)
    
    x.drop("profession", axis=1, inplace=True)
    x.drop("city", axis=1, inplace=True)
    x.drop("state", axis=1, inplace=True)
    
    return x

# 3. Feature Selection
---

To reduce the dimensional space of the dataset, we are carrying out several feature selection techniques with the goal of identify features to keep and drop

1. Filter Methods
    - Chi-square
    - ANOVA
2. Embedded Methods
    - Random Forest
    - XGBoost
    - Lasso Regression

In [10]:
def retrieve_feature_importance(importance, names):
    """
        Helper function to display the feature importance
    """
    feature_importance = np.array(importance)
    feature_names = np.array(names)

    data = {'feature_name':feature_names,'feature_importance':feature_importance}
    feature_importance_df = pd.DataFrame(data)

    feature_importance_df.sort_values(by=['feature_importance'], ascending=False, inplace=True)
    return feature_importance_df.reset_index(drop=True)

## 3.1 Filter Methods
---
### Chi-square

In [22]:
df_cat = df.copy()[categorical]

label_enc = LabelEncoder()
for cat in categorical:
    df_cat[cat] = label_enc.fit_transform(df_cat[cat])
    
y = df["risk_flag"]
x = df_cat

chi_scores = chi2(x, y)

test = SelectKBest(score_func=chi2, k="all")
test.fit(x, y)

results_df = retrieve_feature_importance(test.scores_, x.columns)
results_df.rename(columns={"feature_importance": "chi-square score"}, inplace=True)
display(results_df)

      feature_name  chi-square score
0             city        283.546791
1    car_ownership        101.677125
2       profession         51.923209
3            state         18.542933
4   marital_status         11.445289
5  house_ownership         11.415547

### ANOVA

In [12]:
x = df.copy()[numerical]
fscore = SelectKBest(k="all")
fscore.fit(x, y)

results_df = retrieve_feature_importance(fscore.scores_, x.columns)
results_df.rename(columns={"feature_importance": "f-score"}, inplace=True)
display(results_df)

          feature_name     f-score
0           experience  300.692307
1                  age  119.918507
2    current_job_years   72.348526
3  current_house_years    4.823851
4               income    2.407945

## 3.2 Embedded Methods
---

Note: Encoding is required for profession, city and state for the purpose of Feature Selection. However, the actual encoding will only be done during GridSearch Cross-Validation

In [13]:
x_train_embedded = target_encoding(x_train, y_train)

/Users/jonw/miniforge3/envs/ml_env/lib/python3.8/site-packages/category_encoders/utils.py:21: FutureWarning: is_categorical is deprecated and will be removed in a future version.  Use is_categorical_dtype instead
  elif pd.api.types.is_categorical(cols):

### 3.2.1 Random Forest Classifier

In [14]:
rf_clf = RandomForestClassifier(n_estimators=100, random_state=2021)
rf_clf.fit(x_train_embedded, y_train.values.ravel() )

feat_impt_df = retrieve_feature_importance(rf_clf.feature_importances_, x_train_embedded.columns)
feat_impt_df

           feature_name  feature_importance
0                income            0.185485
1          city_encoded            0.159253
2    profession_encoded            0.144572
3                   age            0.141265
4         state_encoded            0.104522
5            experience            0.085605
6     current_job_years            0.076982
7   current_house_years            0.064581
8         car_ownership            0.015491
9        marital_status            0.010865
10               rented            0.004854
11         norent_noown            0.003319
12                owned            0.003206

### 3.2.2 XGBoost

In [15]:
xgb = XGBClassifier(eval_metric="logloss",
                    use_label_encoder=False,
                    random_state=2021)
                    
xgb.fit(x_train_embedded, y_train)

feat_impt_df = retrieve_feature_importance(xgb.feature_importances_, x_train_embedded.columns)
display(feat_impt_df)

           feature_name  feature_importance
0                income            0.097845
1          city_encoded            0.088775
2                rented            0.086748
3         car_ownership            0.083332
4                   age            0.083198
5         state_encoded            0.083187
6    profession_encoded            0.081845
7     current_job_years            0.079102
8            experience            0.078977
9   current_house_years            0.074698
10       marital_status            0.064461
11         norent_noown            0.058938
12                owned            0.038894

### Conclusion:
Results from the Feature Selection process are consolidated into this Google Sheet: https://docs.google.com/spreadsheets/d/1QSPAkr9M8qJNOBBwmAk2dnTFTrOGiVrXPHorGIVx2KM/edit?usp=sharing

In [16]:
x_train.drop(['current_house_years', 'current_job_years', 'norent_noown', 'owned'], axis=1, inplace=True)
x_test.drop(['current_house_years', 'current_job_years', 'norent_noown', 'owned'], axis=1, inplace=True)

# 4. Exporting preprocessed Train Test sets to csv files
---

In [17]:
x_train.reset_index(drop=True, inplace=True)
y_train.reset_index(drop=True, inplace=True)
train = pd.concat([x_train, y_train], axis=1)

x_test.reset_index(drop=True, inplace=True)
y_test.reset_index(drop=True, inplace=True)
test = pd.concat([x_test, y_test], axis=1)

try:
    train.to_csv("./dataset/train.csv", index=False)
    test.to_csv("./dataset/test.csv", index=False)
    print('Succesfully exported')
except:
    print('Error')

Succesfully exported